
#search {
    width: 400px;
    margin-top: 10px;
    height: 35px;
    /*background-color: #f5b400;*/
    border: none;
    font-size: 13px;
    margin-right: -49%;
    outline: none;
    color: black

}

#home {
    font-size: 20px;
    margin-top: 3px;
    margin-right: 4px;
    text-decoration: none;
    color: black;
}

img {
    width: 25px;
    height: 25px;

}

#l {
    width: 20px;
    height: 20px;
}

#remainder {
    width: 25px;
    height: 25px;
}

#archive {
    width: 23px;
    height: 23px;
}

#n1 {
    color: #fb0;

    border: none;
}

#menu {
    margin-top: 2px
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*#wrapper.toggled {
    padding-left: 250px;
}*/
body{
  background-color: #e8e8e8;
}

#sidebar-wrapper {
  /*position: fixed;
    left: 250px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -250px;
    width: 0;
    height: 100%;*/
    background: #f2f2f2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    /*padding: 15px;*/
    width: 100%;
}
#ui-datepicker-div{
  background: black;
  margin-top: -200px
}
div#ui-datepicker-div{
background-color: antiquewhite;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);
}
.ui-state-default{
  padding: 2px;
}
/*#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
*/
.sidebar-nav {
    position: absolute;
    top: 23px;
    margin: -22px;
    padding: 0;
    width: 250px;
    list-style: none;
    height:100%;
    background-color: white;
    background: rgb(232, 232, 232);
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background:white
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
    font-size: 15px;
}

.sidebar-nav>.sidebar-brand a:hover {
    background: #bfbfbf;
    color: black;
}


@media (max-width: 580px) {
    #wrapper {
        padding-left: 0px;

}
}

#content {
    transition: 0.5s;
    width: 30%;
    height: 60px;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);
}

#txt {
    margin-top: 20px;
    outline: none;
    border: 0;
}

/*.container-fluid {
  padding-left: 0px;
  padding-right: 0px
}*/

#div1 {
width: 100%;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);

    background-color: white;
    margin-top: 70px;
}

#div2 {
  width: 100%;

      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);

      background-color: white;
      margin-top: 70px;
}

#p1 {
    outline: none;
    border: 0;

    height: 40px;
    width: 100%
}

#title {
    width: 100%;
    border: 0;
    overflow: hidden;
    resize: none;

    border: 0px;
    outline: none;
}
#take_note {

    width: 100%;
    border: 0;
    overflow: hidden;
    resize: none;
    border: 0;
    outline: none;
    word-wrap: break-word;

}

#cards {
margin-top: 60px;
    /*margin-left: 145px;*/
    outline: none;
    border: 0;
    /*width: 75%;*/

}
#innerbox:hover{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);

}

#innerbox {
    /*width: 240px;*/

    outline: none;
    border: 0;
    /*box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);*/
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);
    /*word-wrap: break-word;*/
    overflow: hidden;
    border-radius: 0px
}

#innerbox1 {
    width: 65%;
    outline: none;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);
    background-color: white;
    /*margin-left: 120px;*/
    overflow: hidden;
}

#list_cards {

    margin-top: 60px;

}
#delete {
    text-decoration: none;
}
#para, .modal-title {
    border: 0px;
    outline: none;
    word-wrap: break-word;
}
#title_div {
    font-size: 22px;
    font-family: serif;
    overflow: hidden;
    font-weight: bold;


}
#note_div {
    font-size: 18px;
    font-family: serif;
    overflow: hidden;

}
#b1{
  width:auto;
}
#outerbox,#outerbox1{
  margin-bottom: 18px;
}
div{
  padding-left: 3px
}
#paint{
  position: absolute;
  margin-top: -60px;
  background-color: white;
  /*display: block;*/
  /*padding: 6px;*/
  margin-left: 50px;
}

@media (min-width: 320px) {


}

@media (max-width: 600px) {
    .sidebar-nav {
      z-index: 1;
    }
    #wrapper {
        padding-left: 0px;
    }


    #innerbox {
      width: 100%;
    }
    #innerbox1 {
      width: 96%;
    }
    #div1{
      width:96%;
    }


    #search{
      width: 170px;
    }
}
/*@@media (max-width:980) {
  r3{
    margin-left: 100px;
  }
}*/

#grid{
  display: none;
}
