<div id="show" ng-class="grid_show"  class="row">



      <div id="outerbox" style="margin-bottom:18px;" ng-if="x.isDeleted"  ng-repeat="x in data_info | filter:search as results track by $index" ng-class="view_change"   >
        <div  ng-class="innerbox" style="background-color:{{x.bgcolor}}" ng-mouseover="card_icon=true" ng-mouseleave="card_icon=false">

          <div ng-click="open(x)" id="title_div" ng-bind-html="x.title"></div>
          <div ng-click="open(x)" id="note_div" ng-bind-html="x.take_note"> </div>
            <div style="height:40px">




                <!-- delete and copy -->
                 <div class="btn-group" uib-dropdown dropdown-append-to-body="true">
                  <img  id="arc" src="image/more.svg" uib-dropdown-toggle ng-disabled="disabled"> </img>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem">
                      <a style="text-decoration:none;" ng-click="delete(x._id,'delete')">Delete permanently</a>
                    </li>
                    <li role="menuitem">
                      <a ng-click=delete(x._id,'restore')>Restore</a>
                    </li>
                  </ul>
                </div>


                </div>
              </div>



            </div>
</div>
</div>
