<header>
          <nav class="navbar navbar-default" id="n1">
          <div class="container">
              <div class="navbar-header">

              </div>
          </div>
          </nav>
      </header>

    <div class="form">

    <form ng-controller="resetpasswordController" name="myForm" novalidate>
      <!-- New Password -->
      <p>
        <input  placeholder="Password"class="form-control" type="password" name="pass" ng-model="newPass" required="" ng-pattern="regex_password">
        <span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
          <span ng-show="myForm.pass.$error.required">Password is required.</span>
          <span ng-show="myForm.pass.$error.pattern">Password should have atleast 5 and atmost 8 characters</span>

        </span>
      </p>

      <!-- Confirm new Password -->
      <p>
        <input placeholder="Confirn password"class="form-control" type="password" name="repass"  required="" >
        <span style="color:red" ng-show="myForm.repass.$dirty && myForm.repass.$invalid">
          <span ng-show="myForm.repass.$error.required">Confirm password</span>
        </span>
      </p>


      <p>
        <input  id="b1"  class="btn btn-success" type="submit" ng-click="submit()" ui-sref="signin"
        ng-disabled=" myForm.$invalid ">
      </p>


    </form>

  </div>
