

<header>
          <nav class="navbar navbar-default" id="n1">
          <div class="container">
              <div class="navbar-header">

              </div>
              <ul class="nav navbar-nav navbar-right">


              </ul>


          </div>
          </nav>
      </header>


<div class="form">
  <h3>Change password</h3>


    <form >


<p>
<input placeholder="New password" class="form-control" type="password" name="uname" ng-model="newPass" >
</p>

<p>
<input placeholder="Confirm password" class="form-control" type="password" name="uname" >
</p>


<p>
<input id="b1" class="btn btn-success" type="submit" ng-click="submit()"
ng-disabled="myForm.$invalid">
</p>


</form>
</div>
