
<div>
<div >

  <img style="  align:center;width: 60px;height: 60px;padding: 10px;
        border-radius: 50%" class="circular--square" ng-src="{{user_data.local.profile_pic || user_data.social.picture}}"  />
        <div class="btn-group">

  <span style="padding:4px;"><b>{{user_data.local.email || user_data.social.fbemail || user_data.social.gmail}}</b></span>
        </div>
        <!-- <div style="padding:40px;">
        <input type="email" name="" value="" />
      </div>
        <div  ng-repeat="y in collabList" class="">
<ul>
  <li>

          {{y}}
          </li>
</ul>
        </div> -->
        <div style="padding:20px;">
    <label for=""> Select Email to collaborate with: </label>
        <select  style="width:50%;"class="form-control" ng-model="shareEmail">
             <!-- <option value="">Select Email to collaborate</option> -->
            <option ng-repeat="y in collabList"  >{{y}}</option>

        </select>
      </div>


</div>

<!-- <div style="outline:none;"ng-style="paint_model" content contenteditable="true"class="modal-header"  ng-model="updated_title" >
</div>
<div style="outline:none;"content contenteditable="true"class="modal-body" ng-model="updated_note"> -->

<!-- </div> -->
<div class="modal-footer">
  <!-- <div  style="outline:none;"content contenteditable="true">Updated On:{{updated_date | date:'dd-MM hh:mm'}}</div> -->
<button style="background-color:grey;border:none;"class="btn btn-warning" type="button" ng-click="submit()">Done</button>
</div>
</div>
