
<div style=" outline:none;border-radius:6px;margin-left:-4px;background-color:{{updated_color}}">


<div style="outline:none;"ng-style="paint_model" content contenteditable="true"class="modal-header"  ng-model="updated_title" >
</div>
<div style="outline:none;"content contenteditable="true"class="modal-body" ng-model="updated_note">

</div>
<div class="modal-footer">
  <div  style="outline:none;"content contenteditable="true">Updated On:{{updated_date | date:'dd-MM hh:mm'}}</div>
<button style="background-color:grey;border:none;"class="btn btn-warning" type="button" ng-click="update(id)">Done</button>
</div>
</div>
