<header>
          <nav class="navbar navbar-default" id="n1">
          <div class="container">
              <div class="navbar-header">

              </div>
              <ul class="nav navbar-nav navbar-right">

                  <li><a  ui-sref="signin">SIGN IN</a></li>
                  <!-- <li><a href="#signup">Sign Up</a></li> -->

              </ul>


          </div>
          </nav>
      </header>

    <div class="form">

    <form ng-controller="signupController" name="myForm" novalidate>
      <!-- <h3><center>Sign Up</center></h3> -->

<p>
<input placeholder="Name"class="form-control" type="text" name="name" ng-model="name" required ="" ng-minlength="3" ng-maxlength="8" >
<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
  <span ng-show="myForm.name.$error.required">Name is required</span>
  <span  ng-show="myForm.name.$error.minlength">Name should have atleast 3 characters.</span>
  <span  ng-show="myForm.name.$error.maxlength">Name can have atmost 8 characters.</span>
</span>
</p>


<p>
<input placeholder="Email" class="form-control" type="email" name="email" ng-model="email" ng-pattern="regex_email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required</span>
  <span ng-show="myForm.email.$error.pattern">Invalid email address.</span>
</span>
</p>


<p>
<input  placeholder="Password"class="form-control" type="password" name="pass" ng-model="pass" required="" ng-pattern="regex_password">
<span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
  <span ng-show="myForm.pass.$error.required">Password is required.</span>
  <span ng-show="myForm.pass.$error.pattern">Password should have atleast 5 and atmost 8 characters</span>
  <!-- <span ng-show="myForm.pass.$error.maxlength">Password is too long.</span> -->
</span>
</p>


<p>
<input placeholder="Confirn password"class="form-control" type="password" name="repass" ng-model="repass" required="" >
<span style="color:red" ng-show="myForm.repass.$dirty && myForm.repass.$invalid">
<span ng-show="myForm.repass.$error.required">Confirm password</span>
<!-- <span ng-show="myForm.repass.$error.match"> password not same</span> -->
</span>
</p>


<p>
<input  id="b1"  class="btn btn-success" type="submit" ng-click="sign_up()"
ng-disabled=" myForm.$invalid ">
</p>


</form>
         </div>
