<header>
          <nav class="navbar navbar-default" id="n1">
          <div class="container">
              <div class="navbar-header">

              </div>
              <ul class="nav navbar-nav navbar-right">

              </ul>


          </div>
          </nav>
      </header>


<div ng-controller="resetpasswordController" class="form">
  <h4>Enter Registered Email </h4>


<form >

<!-- Email -->
<p>
<input placeholder="Email" class="form-control" type="email" ng-model="verifyEmail" >
</p>

<!-- submit -->
<p>
<input id="b1" class="btn btn-success" type="submit" ng-click="resetPassword()"
ng-disabled="myForm.$invalid">
</p>


</form>
</div>
